[submodule "grml-etc-core"]
	path = grml-etc-core
	url = https://github.com/grml/grml-etc-core.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma-continuum/zinit
