[user]
	name = Luchs
	email = Luchs@euirc.eu

[core]
	editor = vim

[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = upstream

[merge]
	defaultToUpstream = 1
	tool = splice

[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
