[user]
	name = Lukas Werling
	email = lukas.werling@gmail.com

[core]
	editor = vim

[alias]
	st = status
	ci = commit
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = upstream

[merge]
	defaultToUpstream = 1
	tool = splice

[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true

[rerere]
	enabled = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[http "https://gopkg.in"]
	followRedirects = true
